.App {
  text-align: center;
  background: rgb(0, 62, 72);
  height: 100vh;
  padding:0;
  position:relative;
  z-index:0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
